<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>dev.undervars.dotfiles.input-source-switcher</string>

  <key>ProgramArguments</key>
  <array>
    <string>/bin/sh</string>
    <string>-c</string>
    <string>exec "$HOME/Library/Application Support/dev.undervars.dotfiles/bin/input-source-switcher"</string>
  </array>

  <key>KeepAlive</key>
  <true/>

  <key>LimitLoadToSessionType</key>
  <string>Aqua</string>

  <key>ProcessType</key>
  <string>Interactive</string>

  <key>RunAtLoad</key>
  <true/>

  <key>ThrottleInterval</key>
  <integer>1</integer>
</dict>
</plist>
